body {
    font-family: Open Sans;
}

h1 {                      /*  Header  */
    text-align: center;
}

#title {                          /*  Title of proj - "js quiz application"  */
    text-decoration: none;
    font-style: italic;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {                     /*  only Button characteristics  */
    border:4px solid;
    border-radius:5px;
    width: auto;
    padding-left:5px;
    padding-right: 5px;
    font-size:200%;
    font-style: oblique;
    position: relative;
    float:right;
    font-weight: lighter;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {               /*  when CLICKING on button  */
    background-color: #e4f19a;
    color:rgb(247, 0, 115);
}

button {
    position: relative;
    float:right;
}

.button a {                         /*  Text Inside button  */
    text-decoration: none;
    color: black;
}

#container {                      /*  (Blue) Main Box  */
    width:95%;
    align: center;
    height: 33pc;
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 25px 40px 10px;
    background-color: #4372a1;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: yellow;
    font-size: x-large;
    font-weight: bolder;
}

ul {                         /*  List of Options  */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {                /*  Previous button link to Js  */
    display:none;
    width:auto
}

#start {               /*  Start over button link to Js  */
    display:none;
    width: auto;
}
